 
header {
    height: 100%;
    background-repeat: no-repeat;
    background: url(../auth/log.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
}

@media only screen and (max-width: 767px) {
    header {
      background-image: url(../auth/log.jpg);
    }
  }

.Login{
    width: auto;
    padding: 10%;
    
}
.formm{
    width: 100%;
    max-width: 600px;
    margin:0 auto;
    background-color: transparent;  
}

.sucess{
    background: #c1ffb9;
    color: #16790d;
}

.input-submit{
    padding: 15px 200px;
    border: 0;
    font-size: 1.1em;
    background: #258bad;
    color: #fff;
    border-radius: 3px;
    outline: 0;
    transition: 0.15 ease-in-out background;
}











