
.Register{

    width: auto;
    padding: 10%;
   
}


.form{
    width: 100%;
    max-width: 600px;
    margin:0 auto;
    background-color: transparent;
    background-color: transparent;
}




.sucess{
    background: #c1ffb9;
    color: #1e331c;
}

.input-block{
    text-align: center;
    background-color: transparent;
    
}
.label{
    display: block;
    margin-bottom: 8px;
    font-size: 1.1em;
    text-align: left;
}

.input{
    width: 100%;
    border-radius: 3px;
    font-size:1.1em;
    padding: 8px 12px;
    border: 1px solid #ccc;
    color:#1d1d1d;
    margin-bottom: 24px;
    outline: 0;
    box-sizing: border-box;
}

.input-submit-c{
    padding: 8px 20px;
    border: 0;
    font-size: 1.1em;
    background: #a318be;
    color: #fff;
    border-radius: 3px;
    outline: 0;
    transition: 0.15 ease-in-out background;
    
}

